 header{
 	background-color: #87CEEB;
 	height: 100px;
 }
 .header-left {
 	font-size : 50px;
 	padding :20px 10px;
 	float:left;
 	color: #ffffff;
 }

 .header-right{
 	float:right;

 }
 .header-right li{
  float:left;

  margin:0px 20px 0px 20px;
  border :1px solid #ffffff;
  padding: 7px 7px;
  font-size: 33px;
	color:white;
  list-style: none;
 }

main{ float:left: }
.top-contents{
	font-size: 25px;
	width: 100%;  
	color:#292929;
	text-align: center;
		margin-left:auto;
		margin-right: auto;
}
.middle-contents{
	font-size: 25px;
	width: 100%;  
	color:#292929;
	text-align: center;
		margin-left:auto;
		margin-right: auto;	
}
.profiles{
	margin-left:auto;
	margin-right: auto;
}

footer{
 	color: ;	
 	background-color: #87CEEB;
 	height: 20px;
 	padding: 10px 0px 0px 10px;
 	text-align: right;

 }

.title{ padding:15px 0px 0px 20px;
color: DodgerBlue; 
font-size: 40px;
}

section{padding:30px 0px 30px 50px;}