 header{
 	color: #ffffff;	
 	background-color: #87CEEB;
 	height: 50px;
 	font-size: 50px;
 	padding: 20px 0px 5px 10px;
 }

body{font-size: 17px;
color:292929;}

footer{
 	color: ;	
 	background-color: #87CEEB;
 	height: 20px;
 	padding: 10px 0px 0px 10px;
 	text-align: right;

 }

.title{ padding:15px 0px 0px 20px;
color: DodgerBlue; 
font-size: 40px;}

section{padding:30px 0px 30px 50px;}